*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.player-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.player-card img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}